.add-place-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.add-place-form input{
    display: block;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}