.beforeFooter-part{
    background-color:#DC8051 ;
    padding: 15px 0px 40px 0px;
}
.beforeFooter-locaton-icon{
    color: white;
    font-size: 30px;
    margin: 0px;
}
.input{
    padding: 8px;
    border: none;
    background-color: #9A5939;
    border-radius: 3px;
}
::placeholder {
    color: white;
    opacity: 0.6;
    font-size: 12px;
}
.submit-button{
    padding: 8px;
    border: none;
    font-size: .9rem;
    font-weight: bold;
    border-radius: 3px;
    background-color: rgb(243, 230, 207);
   
}
.submit-button:hover{
    background-color: palegoldenrod;
}